table {
    width: auto;
    border-collapse: collapse;
    border-radius: 6px;
}

th,
td {
    min-height: 20%;
    font: var(--font_8);
    border: 1px solid #bec9c6;
    text-align: left;
    padding: 6px;
}

th {
    font-weight: 500;
    background-color: #f7faf8;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.rotated-element {
    animation: rotateAnimation 1s ease-in-out forwards;
}

.ai-chat>div>div {
    flex-direction: column-reverse !important;
}

.selected-size {
    border-color: black;
}

.selected-size span {
    color: black;
}

.selected-color {
    border: 1px solid black;
}

/* Notifier Styles Start */

.notifier-standart {
    background-color: #006a63;
}

.notifier-success {
    background-color: #006c4f;
    border-color: #004431;
}

.notifier-error {
    background-color: #ba1a1a;
    border-color: #7e0007;
}

.notifier-urgent {
    background-color: #a93800;
    border-color: #6e2100;
}

.notifier-warning {
    background-color: #7c5800;
    border-color: #4f3700;
}