/* Product Page Info Section Styling Start */
table {
    width: auto;
    border-collapse: collapse;
    border-radius: 6px;
}

th,
td {
    min-height: 20%;
    font: var(--font_8);
    border: 1px solid #bec9c6;
    text-align: left;
    padding: 6px;
}

th {
    font-weight: 500;
    background-color: #f7faf8;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.rotated-element {
    animation: rotateAnimation 1s ease-in-out forwards;
}

/* Product Page Info Section Styling End */

/* Product Page Styling Start */
.selected-size {
    border-color: black;
}

.selected-size span {
    color: black;
}

.selected-color {
    border: 1px solid black;
}

.in-favs {
    background-color: #bf0033;
    transition: 0.3s ease-in-out;
}

.in-favs span {
    color: white;
}

.in-favs svg {
    fill: white;
}

.in-favs:hover {
    background-color: #920025;
    border: none !important;
}

/* Product Page Styling End */

/* Notifier Styles Start */
.notifier-standart {
    background-color: #006a63;
}

.notifier-success {
    background-color: #006c4f;
}

.notifier-error {
    background-color: #ba1a1a;
}

.notifier-urgent {
    background-color: #a93800;
}

.notifier-warning {
    background-color: #7c5800;
}

/* Notifier Styles End */

/* AI Agent Styling Start */
.ai-chat>div>div {
    flex-direction: column-reverse !important;
}

.ai-chat-box {
    border-left: 1px solid #c1c7ce;
}

.ai-message-box {
    width: auto !important;
}

/* AI Agent Styling End */

/* Explore Videos Styling Start */
.explore-feed-video>div>div {
    border-radius: 6px;
}

.explore-feed-video video::-webkit-media-controls {
    display: none !important;
}

.explore-feed-video video::-moz-media-controls {
    display: none !important;
}

.explore-feed-video video::media-controls {
    display: none !important;
}

.content-container-collapsed {
    width: 56.25vh;
}

.video-liked {
    background-color: white;
}

.video-liked:hover {
    background-color: rgb(255, 255, 255, 0.8);
}

.video-liked svg path {
    fill: black !important;
}

/* Explore Videos Styling End */

/* Member Pages Styling */
.status-green {
    color: #006a63;
}

.status-warning {
    color: #7c5800;
}

.notifier {
    z-index: 998 !important;
}

.notifier p {
    z-index: 999 !important;
    position: relative !important;
}

.text-underline {
    text-decoration: underline;
}

.header-section {
    z-index: 997 !important;
}

.cancelled-order-status-text span {
    color: #ba1a1a !important;
}

.cancelled-order-status-text h5 {
    color: #ba1a1a !important;
}